* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cf964b;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(22, 22, 22);
    margin: 20px 0;
}

.progress {
    height: 5px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.progress--bar {
    background-color: #00FF00;
    height: 100%;
    transition: all ease .5s;
}

.questionArea,
.scoreArea {
    display: none;
}

.questionArea {
    max-width: 500px;
    width: 100%;
}

.question {
    color: rgb(10, 10, 10);
    font-size: 18px;
    margin: 20px 0;
}
.option {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #ebd0aeb1;
    border-radius: 10px;
    margin-bottom: 5px;
    color: rgb(41, 41, 41);
    font-size: 16px;
    cursor: pointer;
}
.option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #b39c7fb1;
    color: rgb(7, 7, 7);
}
.option:hover {
    background-color: #af9984b1;
}

.scoreArea {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}
.prizeImage {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}
.scoreText1 {
    color: #000;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}
.scorePct {
    color: #6ab86a;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.scoreText2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.scoreArea button {
    border: 0;
    border-radius: 10px;
    background-color: #a18d72b1;
    color: rgb(24, 24, 24);
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.scoreArea button:hover {
    background-color: #817361b1;;
}

footer {
    margin-top: 20px;
    color: rgb(10, 10, 10);
    font-size: 13px;
}